<% layout('layout/boilerplate')%>
    

    <div class="row">
        <h1 class="text-center">Edit <%=handicraft.title%></h1>
        <div class="col-6 offset-3">
            <form action="/handicrafts/<%=handicraft._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="handicraft[title]" value="<%=handicraft.title%>" required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                    <div class="invalid-feedback">
                        Please fill-up the field
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="handicraft[location]" value="<%=handicraft.location%>" required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                    <div class="invalid-feedback">
                        Please fill up the field
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="location">Products</label>
                    <input class="form-control" type="text" id="location" name="handicraft[products]" value="<%=handicraft.products%>" required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                    <div class="invalid-feedback">
                        Please fill up the field
                    </div>
                </div>

                
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="" required id="" cols="30" rows="10" class="form-control" type="text" id="description" name="handicraft[description]"><%=handicraft.description%></textarea>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                    <div class="invalid-feedback">
                        Please fill up the form
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Add/Edit image</label>
                    <input class="form-control form-control-sm" id="image" type="file" name="image" multiple>
                </div>

                <div class="mb-3 mt-4">
                    <button class="btn btn-success">Update</button>
                </div>
            </form>

            <a href="/handicrafts/<%=handicraft._id%> ">Back to Handicrafts</a>


        </div>
    </div>
